POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=3000

WB_API_KEY=
WB_TARIFFS_BOX_CRON=0 * * * *
GOOGLE_SHEETS_SYNC_CRON=5 * * * *
SPREADSHEET_ID=
GOOGLE_SHEETS_TARIFF_SHEET_NAME=
GOOGLE_SERVICE_ACCOUNT_JSON=

LOG_LEVEL=debug